@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1100px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$font-family-ja: 'Noto Sans JP', sans-serif;
$font-family-en: 'Oswald', sans-serif;
$font-family-en2: 'Roboto', sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $font-family-ja;
}

// フォントウェイト
$regular: 400;
$normal: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111;
$deep-gray: #626262;
$gray: #A9A9A9;
$light-gray: #F8F8F8;
$light-gray2: #F3F3F3;
$white: #fff;
$blue: #001E63;
$deep-blue: #011950;
$navy: #001135;

$font-color: $black;
$bg-color: $light-gray;


