@use "global" as *;

.label{
  font-size: rem(10);
  font-weight: $normal;
  display: inline-block;
  padding: 3px 15px;
  min-width: rem(80);
  background-color: blue;
  
  @include mq('md'){
    padding: 4px 20px;
  }
}

.label--gray{
  background-color: red;
}
