@use "global" as *;

.medium-card {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  width: 100%;
  background-color: $white;
}

.medium-card__img {
  position: relative;
  width: 100%;
}

.medium-card__img:before {
  content: "";
  display: block;
  padding-top: 50.746269%;

  @include mq('md'){
    padding-top: 47.746269%;
  }
}

.medium-card__img img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.medium-card__header {
  position: relative;
}

.medium-card__head {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(30);
}

.medium-card__subtitle {
  color: $white;
  font-family: $font-family-en;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 100%;
}

.medium-card__title {
  color: $white;
  font-size: rem(26);
  font-weight: $bold;
  line-height: 100%;
  margin-top: rem(19);
}

.medium-card__content {
  margin-top: rem(20);
}

.medium-card__text {
  color: $font-color;
  font-size: rem(14);
  font-style: normal;
  font-weight: $regular;
  line-height: 236.571%; /* 228.571% */
  
  @include mq("md") {
    font-size: rem(16);
    width: 94%;
  }
}

.medium-card__footer {
  text-align: right;
  margin-top: rem(20);
  
   @include mq('md'){
    margin-right: rem(20);
  }
}

.medium-card__btn {
  max-width: 141px;
}
