@use "global" as *;

/* .swiper{
  width: 100%;
  height: 100vh;
}

.swiper-wrapper{
  height: inherit;
  
}

.swiper-slide{
  height: inherit;
} */

.swiper-slide img {
  height: auto;
  width: 100%;
}